In [1]:
from MuDataFrame import *
import copy


def getCombinedMDFO(runStart, runEnd):
    r1, r2 = runStart, runEnd
    lead_files = [
        "processed_data/run{}.csv".format(i) for i in range(r1, r2 + 1)
    ]

    mdfo_c = []  # collection of objects

    for file in lead_files:
        mdfo_c.append(MuDataFrame(file))  # Muon Data Frame Object for Lead

    mdf_list = [i.events_df for i in mdfo_c]
    mdf_lead = mdfo_c[0].getMergedMDF(mdf_list)

    mdfo_lead = copy.copy(mdfo_c[0])
    mdfo_lead.events_df = mdf_lead

    mdfo_lead.longDataMode()

    mdf_lead = mdfo_lead.events_df
    mdfo_lead.og_df = mdf_lead.copy()
    return mdfo_lead


def mergeMDFO(mdfos):
    mdf_list = [i.events_df for i in mdfos]
    mdf_lead = mdfo_c[0].getMergedMDF(mdf_list)

    mdfo_lead = copy.copy(mdfo_c[0])
    mdfo_lead.events_df = mdf_lead

    mdfo_lead.longDataMode()

    mdf_lead = mdfo_lead.events_df
    mdfo_lead.og_df = mdf_lead.copy()
    return mdfo_lead


def getEmissionOutputCSV(df, fileName):
    df.events_df.reset_index(drop=True, inplace=True)
    df.events_df.to_csv(fileName)


def getMergedMDF(df_list):
    df = pd.concat(df_list).reset_index()
    return df

In [2]:
mdfo_calib = getCombinedMDFO(439, 445)

In [3]:
mdfo_calib_og = MuDataFrame("processed_data/calibration_data_updated.csv")

mdf_calib_og = mdfo_calib.events_df

mdfo_calib_og.og_df = mdf_calib_og.copy()

# Old

In [4]:
mdfo_calib_og.show()

,Unnamed: 0,event_num,event_time,deadtime,l1hit,l2hit,l3hit,l4hit,r1hit,r2hit,...,theta_x1,theta_y1,theta_x2,theta_y2,z_angle,SmallCounter,Run_Num,xx,yy,speed
0,0,0,0,0,1.0,1.0,1.0,1.0,1.0,1.0,...,22.205541,147.837258,-43.653927,-75.200711,6.371653,NaN,408,8.402778,8.285486,11.076032
1,1,1,94137,0,1.0,1.0,1.0,1.0,1.0,1.0,...,-201.513449,-16.290756,-236.082169,-13.905355,11.086497,NaN,408,-8.389304,29.851975,0.386791
2,2,2,259967,0,1.0,1.0,1.0,1.0,1.0,1.0,...,96.649159,33.966218,24.062017,136.431052,6.613531,NaN,408,-4.230215,-16.106861,0.277034
3,3,3,540068,0,1.0,1.0,1.0,1.0,1.0,1.0,...,14.648016,224.112695,24.072851,136.369656,11.331981,NaN,408,-29.130160,-7.886501,0.449059
4,4,4,650077,0,1.0,1.0,1.0,1.0,1.0,1.0,...,-260.859860,-12.584559,-23.756787,-138.183939,15.394396,NaN,408,12.760181,-29.695749,0.223868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299995,1299995,1299995,413012725545,0,1.0,1.0,1.0,0.0,1.0,1.0,...,-61.098818,-53.729457,NaN,NaN,NaN,NaN,436,11.709957,NaN,NaN
1299996,1299996,1299996,413012935812,0,1.0,1.0,1.0,0.0,1.0,1.0,...,306.891614,10.696957,NaN,NaN,NaN,NaN,436,-0.561640,NaN,NaN
1299997,1299997,1299997,413013055854,0,1.0,1.0,1.0,1.0,1.0,1.0,...,-0.920125,-3567.783279,56.221626,58.390455,6.169399,NaN,436,28.382114,-3.066643,0.345992
1299998,1299998,1299998,413013275834,0,1.0,1.0,0.0,0.0,1.0,1.0,...,366.200401,8.964508,NaN,NaN,NaN,NaN,436,NaN,NaN,NaN
1299999,1299999,1299999,413013465952,0,1.0,1.0,0.0,0.0,1.0,1.0,...,28.375909,115.689908,NaN,NaN,NaN,NaN,436,NaN,NaN,NaN

# New

In [5]:
mdfo_calib.show()

,index,event_num,event_time,deadtime,l1hit,l2hit,l3hit,l4hit,r1hit,r2hit,...,theta_x1,theta_y1,theta_x2,theta_y2,z_angle,SmallCounter,Run_Num,speed,xx,yy
0,0,0,0,0,1,1,1,1,1,1,...,-228.141377,-14.389351,-79.423805,-41.332776,3.478123,NaN,439,NaN,2.506001,-14.555556
1,1,1,469907,0,1,1,1,0,1,1,...,13.729790,239.100984,NaN,NaN,NaN,NaN,439,NaN,-26.859056,NaN
2,2,2,774075,0,1,1,1,0,1,1,...,-0.000000,-inf,NaN,NaN,NaN,NaN,439,NaN,-11.842764,NaN
3,3,3,969931,0,1,1,1,1,1,1,...,-104.314289,-31.470342,25.584672,128.311450,15.063725,NaN,439,NaN,19.872065,-27.674649
4,4,4,1350115,0,1,1,1,1,1,1,...,-24.133783,-136.025351,-0.895178,-3667.212134,3.625341,NaN,439,NaN,24.908099,-11.981245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,99995,699995,216994882721,0,1,1,1,1,1,1,...,-0.912526,-3597.495173,-79.332618,-41.380285,13.218939,NaN,445,0.201915,28.791795,-2.510153
699996,99996,699996,216995142732,0,1,1,1,1,1,1,...,-59.948362,-54.760568,26.236451,125.123871,8.974938,NaN,445,0.271806,13.189311,-10.555556
699997,99997,699997,216995722826,0,1,1,1,0,1,1,...,-322.117421,-10.191334,NaN,NaN,NaN,NaN,445,NaN,7.572244,NaN
699998,99998,699998,216996092818,0,1,1,1,1,0,1,...,NaN,NaN,48.601794,67.544962,NaN,NaN,445,NaN,NaN,-23.824668
699999,99999,699999,216996362878,0,1,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,445,NaN,NaN,NaN

# Combine

## Fix time and event num

In [6]:
last_time = mdfo_calib_og.get("event_time")[-1]
last_event = mdfo_calib_og.get("event_num")[-1] + 1


mdfo_calib.events_df["event_time"] = mdfo_calib.events_df["event_time"].values + last_time
mdfo_calib.events_df["event_num"] = mdfo_calib.events_df["event_num"].values + last_event

In [7]:
mdfo_calib.show()

,index,event_num,event_time,deadtime,l1hit,l2hit,l3hit,l4hit,r1hit,r2hit,...,theta_x1,theta_y1,theta_x2,theta_y2,z_angle,SmallCounter,Run_Num,speed,xx,yy
0,0,1300000,413013465952,0,1,1,1,1,1,1,...,-228.141377,-14.389351,-79.423805,-41.332776,3.478123,NaN,439,NaN,2.506001,-14.555556
1,1,1300001,413013935859,0,1,1,1,0,1,1,...,13.729790,239.100984,NaN,NaN,NaN,NaN,439,NaN,-26.859056,NaN
2,2,1300002,413014240027,0,1,1,1,0,1,1,...,-0.000000,-inf,NaN,NaN,NaN,NaN,439,NaN,-11.842764,NaN
3,3,1300003,413014435883,0,1,1,1,1,1,1,...,-104.314289,-31.470342,25.584672,128.311450,15.063725,NaN,439,NaN,19.872065,-27.674649
4,4,1300004,413014816067,0,1,1,1,1,1,1,...,-24.133783,-136.025351,-0.895178,-3667.212134,3.625341,NaN,439,NaN,24.908099,-11.981245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,99995,1999995,630008348673,0,1,1,1,1,1,1,...,-0.912526,-3597.495173,-79.332618,-41.380285,13.218939,NaN,445,0.201915,28.791795,-2.510153
699996,99996,1999996,630008608684,0,1,1,1,1,1,1,...,-59.948362,-54.760568,26.236451,125.123871,8.974938,NaN,445,0.271806,13.189311,-10.555556
699997,99997,1999997,630009188778,0,1,1,1,0,1,1,...,-322.117421,-10.191334,NaN,NaN,NaN,NaN,445,NaN,7.572244,NaN
699998,99998,1999998,630009558770,0,1,1,1,1,0,1,...,NaN,NaN,48.601794,67.544962,NaN,NaN,445,NaN,NaN,-23.824668
699999,99999,1999999,630009828830,0,1,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,445,NaN,NaN,NaN

## Join the MDF's

In [8]:
combined_mdf = pd.concat([mdfo_calib_og.events_df, mdfo_calib.events_df], ignore_index=True)

In [9]:
combined_mdf

,Unnamed: 0,event_num,event_time,deadtime,l1hit,l2hit,l3hit,l4hit,r1hit,r2hit,...,theta_y1,theta_x2,theta_y2,z_angle,SmallCounter,Run_Num,xx,yy,speed,index
0,0.0,0,0,0,1.0,1.0,1.0,1.0,1.0,1.0,...,147.837258,-43.653927,-75.200711,6.371653,NaN,408,8.402778,8.285486,11.076032,NaN
1,1.0,1,94137,0,1.0,1.0,1.0,1.0,1.0,1.0,...,-16.290756,-236.082169,-13.905355,11.086497,NaN,408,-8.389304,29.851975,0.386791,NaN
2,2.0,2,259967,0,1.0,1.0,1.0,1.0,1.0,1.0,...,33.966218,24.062017,136.431052,6.613531,NaN,408,-4.230215,-16.106861,0.277034,NaN
3,3.0,3,540068,0,1.0,1.0,1.0,1.0,1.0,1.0,...,224.112695,24.072851,136.369656,11.331981,NaN,408,-29.130160,-7.886501,0.449059,NaN
4,4.0,4,650077,0,1.0,1.0,1.0,1.0,1.0,1.0,...,-12.584559,-23.756787,-138.183939,15.394396,NaN,408,12.760181,-29.695749,0.223868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,NaN,1999995,630008348673,0,1.0,1.0,1.0,1.0,1.0,1.0,...,-3597.495173,-79.332618,-41.380285,13.218939,NaN,445,28.791795,-2.510153,0.201915,99995.0
1999996,NaN,1999996,630008608684,0,1.0,1.0,1.0,1.0,1.0,1.0,...,-54.760568,26.236451,125.123871,8.974938,NaN,445,13.189311,-10.555556,0.271806,99996.0
1999997,NaN,1999997,630009188778,0,1.0,1.0,1.0,0.0,1.0,1.0,...,-10.191334,NaN,NaN,NaN,NaN,445,7.572244,NaN,NaN,99997.0
1999998,NaN,1999998,630009558770,0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,48.601794,67.544962,NaN,NaN,445,NaN,-23.824668,NaN,99998.0
1999999,NaN,1999999,630009828830,0,1.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,445,NaN,NaN,NaN,99999.0

In [10]:
combined_mdf.reset_index(drop=True, inplace=True)
combined_mdf.to_csv("processed_data/calibration_data.csv")